{% extends 'base.html.twig' %}

{% block title %}StadtWetter!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>StadtWetter.de 🌤</h1>
        {{ form(form) }}

        {% if data is null %}
        {% elseif data == false %}
            Es wurde nichts für diese Stadt gefunden!
        {% else %}
            <b>Standort:</b><br/>
            Stadt: {{ data.name }} ({{ data.sys.country }})<br/>
            Zeit: {{ data.dt }} <br/>
            Sonnenaufgang: {{ data.sys.sunrise }} Uhr<br/>
            Sonnenuntergang: {{ data.sys.sunset }} Uhr<br/>
            <br/>
            <b>Wetter:</b><br/>
            {{ data.weather[0].description }} ({{ data.main.temp }}°C) <br/>
            Gefühlt: {{ data.main.feels_like }}°C <br/>
            Min-Temparatur Heute: {{ data.main.temp_min }}°C <br/>
            Max-Temparatir Heute: {{ data.main.temp_max }}°C <br/>
        {% endif %}

        <p>powered by <a href="https://openweathermap.org/" target="_blank">openweathermap.org</a></p>
    </div>
{% endblock %}
